<div>
    <h2 id="page-heading">
        <span jhiTranslate="cardioRehabCrApp.minorEvent.home.title">Minor Events</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-minor-event" [routerLink]="['/minor-event/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cardioRehabCrApp.minorEvent.home.createLabel">
            Create a new Minor Event
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="minorEvents?.length === 0">
        <span jhiTranslate="cardioRehabCrApp.minorEvent.home.notFound">No minorEvents found</span>
    </div>
    <div class="table-responsive" *ngIf="minorEvents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="cardioRehabCrApp.minorEvent.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="code"><span jhiTranslate="cardioRehabCrApp.minorEvent.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deleted"><span jhiTranslate="cardioRehabCrApp.minorEvent.deleted">Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="rehabilitationCenterId"><span jhiTranslate="cardioRehabCrApp.minorEvent.rehabilitationCenter">Rehabilitation Center</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let minorEvent of minorEvents ;trackBy: trackId">
                <td><a [routerLink]="['/minor-event', minorEvent.id, 'view' ]">{{minorEvent.id}}</a></td>
                <td>{{minorEvent.description}}</td>
                <td>{{minorEvent.code}}</td>
                <td>{{minorEvent.deleted}}</td>
                <td>
                    <div *ngIf="minorEvent.rehabilitationCenterId">
                        <a [routerLink]="['/rehabilitation-center', minorEvent.rehabilitationCenterId , 'view' ]" >{{minorEvent.rehabilitationCenterId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/minor-event', minorEvent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/minor-event', minorEvent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/minor-event', { outlets: { popup: minorEvent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
