<div>

    <h2 id="page-heading">
        <span class="primary-color table-title" >Usuarios</span>

    </h2>
    <div class="table-responsive "  *ngIf="users" >
        <table class="table table-bordered tableMaterialDesign" aria-describedby="user-management-page-heading">
            <thead style="background-color: #fafafa;" class="text-center">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th  class="text-center" scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="login"><span jhiTranslate="userManagement.login">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="email"><span jhiTranslate="userManagement.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>

<!--                <th  class="text-center" scope="col"  jhiSortBy="langKey"> <span jhiTranslate="userManagement.langKey">Lang Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th scope="col" class="text-center"><span jhiTranslate="userManagement.profiles">Profiles</span></th>
<!--                <th scope="col" jhiSortBy="createdDate"><span jhiTranslate="userManagement.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--                <th scope="col" jhiSortBy="lastModifiedBy"><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--                <th scope="col" jhiSortBy="lastModifiedDate"><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th scope="col" class="text-center">Opciones</th>
                <th scope="col" class="text-center">Estado</th>
            </tr>
            </thead>
            <tbody *ngIf ="users">
            <tr *ngFor="let user of users; trackBy: trackIdentity" class="text-center">


                <td class="text-center"  ><a [routerLink]="['./', user.login, 'view']">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>

<!--                <td  class="text-center">{{user.langKey}}</td>-->
                <td>
                    <div class="margin-top-10" fxLayoutAlign="center center" *ngFor="let authority of user.authorities">
                        <span class="badge badge-info">{{ authority }}</span>
                    </div>
                </td>
<!--                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>-->
<!--                <td>{{user.lastModifiedBy}}</td>-->
<!--                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>-->
                <td>

                    <div fxLayoutAlign="center center">

                        <button mat-icon-button [matMenuTriggerFor]="beforeMenu" fxLayoutAlign="center center">
                            <mat-icon aria-hidden="false" class="text-icon big-icon">more_vert</mat-icon>
                        </button>

                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                            <button mat-menu-item  [routerLink]="['./', user.login, 'view']">
                                <mat-icon>remove_red_eye</mat-icon>
                                <span  jhiTranslate="entity.action.view">Ver</span>
                            </button>
                            <button mat-menu-item [routerLink]="['./', user.login, 'edit']">
                                <mat-icon>create</mat-icon>
                                <span jhiTranslate="entity.action.edit">Editar</span>
                            </button>
                            <button (click)="deleteUser(user)" mat-menu-item id="logout">
                                <mat-icon>delete</mat-icon>
                                <span jhiTranslate="entity.action.delete">Eliminar</span>
                            </button>
                        </mat-menu>

                    </div>
                </td>
                <td>
                    <h2 class="text-center">
                    <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated"
                            jhiTranslate="userManagement.deactivated">Deactivated</button>
                    <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated"
                            [disabled]="currentAccount.login === user.login" jhiTranslate="userManagement.activated">Activated</button>
                    </h2>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="users">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>


</div>

<button [routerLink]="['./new']" mat-fab  class="md-fab-bottom-right"   matTooltip="Registrar usuario"
        [matTooltipPosition]="'before'">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
</button>
