<div>

    <h2 id="page-heading" class="margin-top-20">
        <span class="primary-color table-title">Pacientes</span>

    </h2>
    <jhi-no-content *ngIf="patients?.length === 0" [text]="'No hay pacientes registrados'"
                    [icon]="'face'"></jhi-no-content>
    <div class="table-responsive" *ngIf="patients?.length > 0">
        <table class="table table-bordered tableMaterialDesign" aria-describedby="page-heading">
            <thead class="bold" style="background-color: #fafafa;">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">

                <th scope="col" jhiSortBy="code"><span jhiTranslate="cardioRehabCrApp.patient.code">Code</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="age"><span jhiTranslate="cardioRehabCrApp.patient.age">Age</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="sex"><span jhiTranslate="cardioRehabCrApp.patient.sex">Sex</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="ocupation"><span
                    jhiTranslate="cardioRehabCrApp.patient.ocupation">Ocupation</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="lastEventOcurred"><span
                    jhiTranslate="cardioRehabCrApp.patient.lastEventOcurred">Last Event Ocurred</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="deceased"><span
                    jhiTranslate="cardioRehabCrApp.patient.deceased">Deceased</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="abandonment"><span jhiTranslate="cardioRehabCrApp.patient.abandonment">Abandonment</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="abandonmentMedicCause"><span
                    jhiTranslate="cardioRehabCrApp.patient.abandonmentMedicCause">Abandonment Medic Cause</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="rehabStatus"><span jhiTranslate="cardioRehabCrApp.patient.rehabStatus">Rehab Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="sessionNumber"><span jhiTranslate="cardioRehabCrApp.patient.sessionNumber">Session Number</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let patient of patients ;trackBy: trackId">
                <td>{{patient.code}}</td>
                <td>{{patient.age}}</td>
                <td>{{patient.sex}}</td>
                <td>{{patient.ocupation}}</td>
                <td>{{patient.lastEventOcurred | date:'medium'}}</td>
                <td>
                    <div fxLayoutAlign="center center">
                        <mat-icon *ngIf="patient.deceased" aria-hidden="false" aria-label="Example home icon" class="font-green"    matTooltip="Habilitado"
                                  [matTooltipPosition]="'before'">fiber_manual_record</mat-icon>
                        <mat-icon *ngIf="!patient.deceased" aria-hidden="false" aria-label="Example home icon" class="font-red"    matTooltip="Deshabilitado"
                                  [matTooltipPosition]="'before'">fiber_manual_record</mat-icon>
                    </div>
                </td>
                <td>
                    <div fxLayoutAlign="center center">
                        <mat-icon *ngIf="patient.abandonment" aria-hidden="false" aria-label="Example home icon" class="font-green"    matTooltip="Habilitado"
                                  [matTooltipPosition]="'before'">fiber_manual_record</mat-icon>
                        <mat-icon *ngIf="!patient.abandonment" aria-hidden="false" aria-label="Example home icon" class="font-red"    matTooltip="Deshabilitado"
                                  [matTooltipPosition]="'before'">fiber_manual_record</mat-icon>
                    </div>
                </td>
                <td>
                    <div fxLayoutAlign="center center">
                        <mat-icon *ngIf="patient.abandonmentMedicCause" aria-hidden="false" aria-label="Example home icon" class="font-green"    matTooltip="Habilitado"
                                  [matTooltipPosition]="'before'">fiber_manual_record</mat-icon>
                        <mat-icon *ngIf="!patient.abandonmentMedicCause" aria-hidden="false" aria-label="Example home icon" class="font-red"    matTooltip="Deshabilitado"
                                  [matTooltipPosition]="'before'">fiber_manual_record</mat-icon>
                    </div>
                </td>
                <td>{{patient.rehabStatus}}</td>
                <td>{{patient.sessionNumber}}</td>

                <td>

                    <div fxLayoutAlign="center center">

                        <button mat-icon-button [matMenuTriggerFor]="beforeMenu" fxLayoutAlign="center center">
                            <mat-icon aria-hidden="false" class="text-icon big-icon">more_vert</mat-icon>
                        </button>

                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                            <button mat-menu-item
                                    [routerLink]="['/patient', patient.id, 'edit']">
                                <mat-icon>create</mat-icon>
                                <span jhiTranslate="entity.action.edit">Editar</span>
                            </button>

                        </mat-menu>

                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<button [routerLink]="['/patient/new']" mat-fab class="md-fab-bottom-right"
        matTooltip="Registrar centro de rehabilitación"
        [matTooltipPosition]="'before'">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
</button>
