<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-initial-assessment-heading" jhiTranslate="cardioRehabCrApp.initialAssessment.home.createOrEditLabel">Create or edit a Initial Assessment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.initialAssessment.smoking" for="field_smoking">Smoking</label>
                    <input type="text" class="form-control" name="smoking" id="field_smoking"
                           formControlName="smoking"/>
                    <div *ngIf="editForm.get('smoking').invalid && (editForm.get('smoking').dirty || editForm.get('smoking').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('smoking').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.initialAssessment.weight" for="field_weight">Weight</label>
                    <input type="text" class="form-control" name="weight" id="field_weight"
                           formControlName="weight"/>
                    <div *ngIf="editForm.get('weight').invalid && (editForm.get('weight').dirty || editForm.get('weight').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('weight').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.initialAssessment.size" for="field_size">Size</label>
                    <input type="text" class="form-control" name="size" id="field_size"
                           formControlName="size"/>
                    <div *ngIf="editForm.get('size').invalid && (editForm.get('size').dirty || editForm.get('size').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('size').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.initialAssessment.iMC" for="field_iMC">I MC</label>
                    <input type="text" class="form-control" name="iMC" id="field_iMC"
                           formControlName="iMC"/>
                    <div *ngIf="editForm.get('iMC').invalid && (editForm.get('iMC').dirty || editForm.get('iMC').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('iMC').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.initialAssessment.hbiac" for="field_hbiac">Hbiac</label>
                    <input type="text" class="form-control" name="hbiac" id="field_hbiac"
                           formControlName="hbiac"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.initialAssessment.baselineFunctionalCapacity" for="field_baselineFunctionalCapacity">Baseline Functional Capacity</label>
                    <input type="text" class="form-control" name="baselineFunctionalCapacity" id="field_baselineFunctionalCapacity"
                           formControlName="baselineFunctionalCapacity"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.initialAssessment.lDL" for="field_lDL">L DL</label>
                    <input type="text" class="form-control" name="lDL" id="field_lDL"
                           formControlName="lDL"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.initialAssessment.hDL" for="field_hDL">H DL</label>
                    <input type="text" class="form-control" name="hDL" id="field_hDL"
                           formControlName="hDL"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.initialAssessment.cardiovascularRisk" for="field_cardiovascularRisk">Cardiovascular Risk</label>
                    <input type="text" class="form-control" name="cardiovascularRisk" id="field_cardiovascularRisk"
                           formControlName="cardiovascularRisk"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.initialAssessment.deleted" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                           formControlName="deleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.initialAssessment.patient" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patientId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
