<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-comorbidities-patient-heading" jhiTranslate="cardioRehabCrApp.comorbiditiesPatient.home.createOrEditLabel">Create or edit a Comorbidities Patient</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.comorbiditiesPatient.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.comorbiditiesPatient.comorbiditietId" for="field_comorbiditietId">Comorbiditiet Id</label>
                    <input type="number" class="form-control" name="comorbiditietId" id="field_comorbiditietId"
                           formControlName="comorbiditietId"/>
                    <div *ngIf="editForm.get('comorbiditietId')!.invalid && (editForm.get('comorbiditietId')!.dirty || editForm.get('comorbiditietId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('comorbiditietId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('comorbiditietId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.comorbiditiesPatient.exist" for="field_exist">Exist</label>
                    <input type="checkbox" class="form-control" name="exist" id="field_exist"
                           formControlName="exist"/>
                    <div *ngIf="editForm.get('exist')!.invalid && (editForm.get('exist')!.dirty || editForm.get('exist')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('exist')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cardioRehabCrApp.comorbiditiesPatient.initialAssessment" for="field_initialAssessment">Initial Assessment</label>
                    <select class="form-control" id="field_initialAssessment" name="initialAssessment" formControlName="initialAssessmentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="initialAssessmentOption.id" *ngFor="let initialAssessmentOption of initialassessments; trackBy: trackById">{{initialAssessmentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
